<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A minimal client router</title>
     <script type="text/html" id="HomeView">
      <h1><%= title %></h1>
      <p><%= paragraph %></p>
    </script>
    <script type="text/html" id="Page1View">
      <h1><%= heading %></h1>
      <p><%= paragraph %></p>
    </script>
    <script type="text/html" id="Page2View">
      <h1><%= heading %></h1>
      <p>Page2 paragraph</p>
    </script>
  </head>
  <body>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#/page1">Page 1</a></li>
      <li><a href="#/page2">Page 2</a></li>
    </ul>
    <div id="MainView"></div>
    <script src="js/tmpl.js"></script>
     <script src="js/router.js"></script>
    <script>
     Router.route('/', 'HomeView', function () {
        this.title = 'Homepage title';
        this.paragraph = 'This is the homepage paragraph';
      });
      Router.route('/page1', 'Page1View', function () {
        this.heading = 'Page1 heading';
        this.paragraph = 'Loading...';
        setTimeout(function () {
          this.paragraph = 'Simulating a XHR call..';
        }.bind(this), 1000);
      });

      Router.route('/page2', 'Page2View', function () {
        this.heading = 'Page2 heading';
      });
    </script>
  </body>
</html>
